// https://console.cloud.google.com/apis/dashboard
GOOGLE_API_KEY = """

""".strip()

// https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID = """

""".strip()


SPOTIFY_CLIENT_SECRET = """

""".strip()